@import "../../../../assets/sass/variables";

.plan{
    display: flex;
    flex-direction: column;
    height: inherit;
    padding: 4rem;
    position: relative;

    &_desc{
        color: $color-cool-gray;
        margin-bottom: 4rem;
    }

    h3{
        color: $color-primary;
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .plans_container{
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(3, 1fr);
    }

    &_next{
        bottom: 4rem;
        position: absolute;
        right: 4rem;
    }

    &_footer{
        display: flex;
        justify-content: space-between;
        margin-top: auto;
    }
}