@import "../../../../assets/sass/variables";

.personal_info {
    height: inherit;
    position: relative;

    @media only screen and (max-width: $bp-mobile) {
        height: fit-content;
        position: initial;
    }

    > p {
        color: $color-cool-gray;
        margin-bottom: 3.5rem;
    }

    h3 {
        color: $color-primary;
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: .7rem;

        @media only screen and (max-width: $bp-mobile) {
            font-size: 2.4rem;
        }
    }

    &_group {
        display: flex;
        flex-direction: column;
        gap: .6rem;
        
        @media only screen and (max-width: $bp-mobile) {
            gap: 0;
        }
        
        &:not(:nth-of-type(3)){
            margin-bottom: 2rem;
        }

        label {
            color: $color-primary;
            display: flex;
            font-weight: 500;
            justify-content: space-between;

            @media only screen and (max-width: $bp-mobile) {
                font-weight: 400;
                font-size: 1.3rem;
            }
        }

        input {
            border-radius: 1rem;
            border: 1px solid $color-light-gray;
            color: $color-primary;
            font-weight: 500;
            height: 5.5rem;
            outline: none;
            padding: 2rem 1.8rem;

            @media only screen and (max-width: $bp-mobile) {
                height: 4rem;
                border-radius: .4rem;
            }

            &:active, 
            &:focus {
                border: 1px solid $color-secondary
            }

            &::placeholder{
                color: $color-cool-gray;
            }
        }
    }

    &_error {
        color: $color-red;
        font-weight: 600;
    }

    &_input_error {
        border: 1px solid $color-red !important;
    }

    &_next {
        bottom: 0;
        position: absolute;
        right: 0;

        @media only screen and (max-width: $bp-mobile) {
            position: initial;
        }
    }

    &_footer {

        @media only screen and (max-width: $bp-mobile) {
            background: $color-white;
            bottom: 0;
            left: 0;
            padding: 1.8rem;
            position: fixed;
            right: 0;
            text-align: right;
            width: 100%;
        }
    }
}