@import "../../../../assets/sass/variables";

.personal_info {
    height: inherit;
    position: relative;

    > p {
        color: $color-cool-gray;
        margin-bottom: 3.5rem;
    }

    h3 {
        color: $color-primary;
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: .7rem;
    }

    &_group {
        display: flex;
        flex-direction: column;
        gap: .6rem;

        &:not(:last-of-type) {
            margin-bottom: 2rem;
        }

        label {
            color: $color-primary;
            display: flex;
            font-weight: 500;
            justify-content: space-between;
        }

        input {
            border-radius: 1rem;
            border: 1px solid $color-light-gray;
            color: $color-primary;
            font-weight: 500;
            height: 5.5rem;
            outline: none;
            padding: 2rem 1.8rem;

            &:active, 
            &:focus {
                border: 1px solid $color-secondary
            }
        }
    }

    &_error {
        color: $color-red;
        font-weight: 600;
    }

    &_input_error {
        border: 1px solid $color-red !important;
    }

    &_next {
        bottom: 0;
        position: absolute;
        right: 0;
    }
}