@import "../../../../../assets/sass/variables";

.plant_time{
    align-items: center;
    background-color: #F8F9FE;
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    margin-top: 3rem;
    padding: 1rem;

    p{
        color: $color-cool-gray;
        font-weight: 700;
        margin-bottom: 0;
    }
    p.active{
        color: $color-primary;
    }
}

