@import "../../../../../assets/sass/variables";

.plan_card{
    border-radius: .8rem;
    border: 1px solid $color-light-gray;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 16rem !important;
    padding: 2rem 1.8rem 1.5rem 1.8rem;

    img{
        border-radius: 50%;
        height: 4rem;
        margin-bottom: auto;
        width: 4rem;
    }

    h4{
        color: $color-primary;
        font-size: 1.6rem;
        margin-bottom: .2rem;
    }

    p{
        color: $color-cool-gray;
        font-size: 1.4rem;
        
        &.plan_card_year{
            color: $color-primary;
            font-size: 1.2rem;
            font-weight: 500;
        }
    }



    &.active{
        background: #F8F9FE;
        border: 1px solid $color-secondary;
    }
}