@import "../../../assets/sass/variables";

.btn_primary {
    background: $color-primary;
    border-radius: .6rem;
    border: none;
    color: $color-white;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    height: 5rem;
    width: 12.5rem;

    &:hover {
        opacity: .9;
    }
}

.btn_secondary {
    background: none; 
    border: none;
    color: $color-cool-gray;
    font-weight: 500;

    &:hover{
        color: $color-primary;
    }
}