@import "../../../../assets/sass/variables";

.add_ons {
    height: inherit;
    position: relative;

    > p {
        color: $color-cool-gray;
        margin-bottom: 3.5rem;

        @media only screen and (max-width: $bp-mobile) {
            margin-bottom: 2.1rem;
        }        
    }

    h3 {
        color: $color-primary;
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: .7rem;
        
        @media only screen and (max-width: $bp-mobile) {
            font-size: 2.4rem;
        }
    }

    &_footer{
        bottom: 0;
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;

        @media only screen and (max-width: $bp-mobile) {
            background: $color-white;
            bottom: 0;
            left: 0;
            padding: 1.8rem;
            position: fixed;
            right: 0;
            text-align: right;
            width: 100%;
        }
    }
}