/* Colors */
$color-primary: #02295a;
$color-secondary: #473dff;
$color-red: #ed3548;

$color-pastel-blue: #adbeff;
$color-light-blue: #bfe2fd;
$color-cool-gray: #9699ab;
$color-light-gray: #d6d9e6;
$color-magnolia: #f0f6ff;
$color-alabaster: #fafbff;
$color-white: #fff;
$color-black: #000;

/* Fonts */
$font-primary: 'Ubuntu', sans-serif;

/* Breakpoints */

$bp-large: 75em; /*1200px*/
$bp-medium: 62.5em; /*1000px*/
$bp-small: 51.5625em; /*825px*/
$bp-smallest: 43.75em; /*700px*/
$bp-mobile: 31.25em; /*500px*/